---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Producto">
  <main class="flex-1">
    <div class="max-w-7xl mx-auto px-6 py-12">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold text-teal mb-8">Innovación en Capacitación Médica</h1>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="space-y-4">
            <img 
              src="https://res.cloudinary.com/di28qxip9/image/upload/v1730149556/realidad-aumentadA-MEDICINA_1_eq3igm.jpg" 
              alt="Simulación médica" 
              class="rounded-lg w-full h-64 object-cover"
            />
            <h3 class="text-xl font-semibold text-dark-green">Innovación en Capacitación Médica</h3>
            <p class="text-grey">MedVisionAR ofrec e gafas de realidad aumentada diseñadas específicamente para la educación médica. Estas gafas permiten a los estudiantes y profesionales de la medicina simular procedimientos quirúrgicos en tiempo real, proporcionando una experiencia inmersiva que mejora el aprendizaje y la precisión en entornos quirúrgicos complejos.</p>
          </div>
          
          <div class="space-y-4">
            <img 
              src="https://res.cloudinary.com/di28qxip9/image/upload/v1730149608/4e18a516-8b21-4da7-8d5f-cf3f77ddc989_16-9-aspect-ratio_default_0_ko3l6h.jpg" 
              alt="Entrenamiento médico" 
              class="rounded-lg w-full h-64 object-cover"
            />
            <h3 class="text-xl font-semibold text-dark-green">Simulación de Alta Precisión</h3>
            <p class="text-grey">Experimenta la formación médica transformadora con MedVisionAR, donde nuestras gafas de realidad aumentada facilitan la simulación de procedimientos quirúrgicos complejos. Esta tecnología avanzada permite a los médicos mejorar sus habilidades y tomar decisiones clínicas con mayor confianza, todo dentro de un entorno simulado seguro.</p>
          </div>
          
          <div class="space-y-4">
            <img 
              src="https://res.cloudinary.com/di28qxip9/image/upload/v1730149785/images_xu39vx.jpg" 
              alt="Tecnología médica" 
              class="rounded-lg w-full h-64 object-cover"
            />
            <h3 class="text-xl font-semibold text-dark-green">Preparación para el Futuro Médico</h3>
            <p class="text-grey">MedVisionAR prepara a profesionales médicos para enfrentar retos quirúrgicos  con confianza, complementando la educación tradicional con herramientas innovadoras que mejoran las habilidades y la toma de decisiones críticas..</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>